@font-face {
  font-family: 'RegulatoryNova';
  src: url('./assets/Regulator\ Nova\ Medium.otf');
}
@font-face {
  font-family: 'soleil';
  src: url('./assets/SoleilRegular.otf');
}

html{
  margin: 0;
  padding: 0;
  background-color: hsl(0, 0%, 93%);
  
}
body {
  margin: 0;
  font-family: 'soleil', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p{
  letter-spacing: 0.6px;
  line-height: 1.6em;
  color: #0a033c;

}


h1 {
  color: #0a033c;
  font-family: 'RegulatoryNova', 'sans-ertif';
  font-size: 44px;
  margin-bottom: 32px;
}

h3, p{
  font-family: 'soleil', sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #636c7834;
}

::-webkit-scrollbar-thumb {
  background-color: #636C78;
}