@font-face {
  font-family: 'RegulatoryNova';
  src: url('./assets/Regulator\ Nova\ Medium.otf');
}
@font-face {
  font-family: 'soleil';
  src: url('./assets/SoleilRegular.otf');
}

html{
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: 'soleil', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

p{
  letter-spacing: 0.6px;
  line-height: 1.6em;

}



